.flaticon-Abreve:before {
	content: "\102";
}
.flaticon-Etilde:before {
	content: "\1ebc";
}
.flaticon-Edotbelow:before {
	content: "\1eb8";
}
.flaticon-Idotbelow:before {
	content: "\1eca";
}
.flaticon-Odotbelow:before {
	content: "\1ecc";
}
.flaticon-Udotbelow:before {
	content: "\1ee4";
}
.flaticon-Ygrave:before {
	content: "\1ef2";
}
.flaticon-Ytilde:before {
	content: "\1ef8";
}
.flaticon-abreve:before {
	content: "\103";
}
.flaticon-etilde:before {
	content: "\1ebd";
}
.flaticon-edotbelow:before {
	content: "\1eb9";
}
.flaticon-idotbelow:before {
	content: "\1ecb";
}
.flaticon-odotbelow:before {
	content: "\1ecd";
}
.flaticon-udotbelow:before {
	content: "\1ee5";
}
.flaticon-ygrave:before {
	content: "\1ef3";
}
.flaticon-ytilde:before {
	content: "\1ef9";
}
.flaticon-Abreveacute:before {
	content: "\1eae";
}
.flaticon-Abrevedotbelow:before {
	content: "\1eb6";
}
.flaticon-Adotbelow:before {
	content: "\1ea0";
}
.flaticon-Abrevegrave:before {
	content: "\1eb0";
}
.flaticon-Acircumflexacute:before {
	content: "\1ea4";
}
.flaticon-Acircumflexdotbelow:before {
	content: "\1eac";
}
.flaticon-Acircumflexgrave:before {
	content: "\1ea6";
}
.flaticon-Ydotbelow:before {
	content: "\1ef4";
}
.flaticon-adotbelow:before {
	content: "\1ea1";
}
.flaticon-ydotbelow:before {
	content: "\1ef5";
}
.flaticon-Ocircumflexdotbelow:before {
	content: "\1ed8";
}
.flaticon-Ecircumflexdotbelow:before {
	content: "\1ec6";
}
.flaticon-Ocircumflexacute:before {
	content: "\1ed0";
}
.flaticon-Ocircumflexgrave:before {
	content: "\1ed2";
}
.flaticon-Ecircumflexacute:before {
	content: "\1ebe";
}
.flaticon-Ecircumflexgrave:before {
	content: "\1ec0";
}
.flaticon-Abrevetilde:before {
	content: "\1eb4";
}
.flaticon-Acircumflextilde:before {
	content: "\1eaa";
}
.flaticon-Ecircumflextilde:before {
	content: "\1ec4";
}
.flaticon-Ocircumflextilde:before {
	content: "\1ed6";
}
.flaticon-abrevedotbelow:before {
	content: "\1eb7";
}
.flaticon-acircumflexdotbelow:before {
	content: "\1ead";
}
.flaticon-acircumflexacute:before {
	content: "\1ea5";
}
.flaticon-acircumflexgrave:before {
	content: "\1ea7";
}
.flaticon-acircumflextilde:before {
	content: "\1eab";
}
.flaticon-abrevetilde:before {
	content: "\1eb5";
}
.flaticon-ecircumflexacute:before {
	content: "\1ebf";
}
.flaticon-ecircumflexgrave:before {
	content: "\1ec1";
}
.flaticon-ecircumflexdotbelow:before {
	content: "\1ec7";
}
.flaticon-abreveacute:before {
	content: "\1eaf";
}
.flaticon-abrevegrave:before {
	content: "\1eb1";
}
.flaticon-ecircumflextilde:before {
	content: "\1ec5";
}
.flaticon-ocircumflexacute:before {
	content: "\1ed1";
}
.flaticon-ocircumflexgrave:before {
	content: "\1ed3";
}
.flaticon-ocircumflexdotbelow:before {
	content: "\1ed9";
}
.flaticon-ocircumflextilde:before {
	content: "\1ed7";
}
.flaticon-ohornacute:before {
	content: "\1edb";
}
.flaticon-ohorndotbelow:before {
	content: "\1ee3";
}
.flaticon-ohorngrave:before {
	content: "\1edd";
}
.flaticon-ohorntilde:before {
	content: "\1ee1";
}
.flaticon-uhornacute:before {
	content: "\1ee9";
}
.flaticon-uhorndotbelow:before {
	content: "\1ef1";
}
.flaticon-uhorngrave:before {
	content: "\1eeb";
}
.flaticon-uhorntilde:before {
	content: "\1eef";
}
.flaticon-Uhornacute:before {
	content: "\1ee8";
}
.flaticon-Uhorndotbelow:before {
	content: "\1ef0";
}
.flaticon-Uhorngrave:before {
	content: "\1eea";
}
.flaticon-Uhorntilde:before {
	content: "\1eee";
}
.flaticon-Ohornacute:before {
	content: "\1eda";
}
.flaticon-Ohorndotbelow:before {
	content: "\1ee2";
}
.flaticon-Ohorngrave:before {
	content: "\1edc";
}
.flaticon-Ohornhookabove:before {
	content: "\1ede";
}
.flaticon-Ohorntilde:before {
	content: "\1ee0";
}
.flaticon-Abrevehookabove:before {
	content: "\1eb2";
}
.flaticon-Ocircumflexhookabove:before {
	content: "\1ed4";
}
.flaticon-Acircumflexhookabove:before {
	content: "\1ea8";
}
.flaticon-Ahookabove:before {
	content: "\1ea2";
}
.flaticon-Ecircumflexhookabove:before {
	content: "\1ec2";
}
.flaticon-Ehookabove:before {
	content: "\1eba";
}
.flaticon-Ihookabove:before {
	content: "\1ec8";
}
.flaticon-Ohookabove:before {
	content: "\1ece";
}
.flaticon-Uhookabove:before {
	content: "\1ee6";
}
.flaticon-Uhornhookabove:before {
	content: "\1eec";
}
.flaticon-Yhookabove:before {
	content: "\1ef6";
}
.flaticon-abrevehookabove:before {
	content: "\1eb3";
}
.flaticon-acircumflexhookabove:before {
	content: "\1ea9";
}
.flaticon-ahookabove:before {
	content: "\1ea3";
}
.flaticon-ecircumflexhookabove:before {
	content: "\1ec3";
}
.flaticon-ehookabove:before {
	content: "\1ebb";
}
.flaticon-ihookabove:before {
	content: "\1ec9";
}
.flaticon-ocircumflexhookabove:before {
	content: "\1ed5";
}
.flaticon-ohookabove:before {
	content: "\1ecf";
}
.flaticon-ohornhookabove:before {
	content: "\1edf";
}
.flaticon-uhookabove:before {
	content: "\1ee7";
}
.flaticon-uhornhookabove:before {
	content: "\1eed";
}
.flaticon-yhookabove:before {
	content: "\1ef7";
}
